.App {
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(240, 181, 126);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: rgb(36, 24, 13);
  display: flex;
  align-items: center;
  bottom: 0;
  height: 60px;
  color: white;
}

#busca {
  height: 1.5em;
  margin-right: 3%;
}

#logo {
  margin-left: 3%;
}

article {
  display: grid;
  grid-template: 1fr 1fr/repeat(4, 1fr);
  justify-content: space-evenly;
  margin: 0 10% 10% 10%;
}

article>div {
  align-items: center;
  margin: 5% 3%;
  border: solid green 1px;
}

article>:nth-child(1) {
  grid-row: 1;
  display: grid;
}

article>:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
  display: grid;
}

article>:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
  display: grid;
}

article>:nth-child(4) {
  grid-row: 1;
  grid-column: 4;
  display: grid;
}

article>:nth-child(5) {
  grid-row: 2;
  display: grid;
}

article>:nth-child(6) {
  grid-row: 2;
  grid-column: 2;
  display: grid;
}

article>:nth-child(7) {
  grid-row: 2;
  grid-column: 3;
  display: grid;
}

article>:nth-child(8) {
  grid-row: 2;
  grid-column: 4;
  display: grid;
}

.img {
  width: 100%;
}

p {
  margin: 10% 0;
}

a:visited {
  color: black;
  font-style: normal;
}

@media screen and (max-width:750px) {
  article {
      display: grid;
      grid-template: repeat(4, 1fr)/repeat(2, 1fr);
      justify-content: space-evenly;
      margin: 0 10% 10% 10%;
  }
  article>:nth-child(3) {
      grid-row: 2;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(4) {
      grid-row: 2;
      grid-column: 2;
      display: grid;
  }
  article>:nth-child(5) {
      grid-row: 3;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(6) {
      grid-row: 3;
      grid-column: 2;
      display: grid;
  }
  article>:nth-child(7) {
      grid-row: 4;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(8) {
      grid-row: 4;
      grid-column: 2;
      display: grid;
  }
}

#container{
  display: grid;
  grid-template: 1fr/150px 5fr;
}
#container nav{
  grid-row: 1/1;
  grid-column: 1/1;
  border-right: 1px solid ;
  
}
#container article{
  grid-row: 1/1;
  grid-column: 2/2;
}
nav #primeiro-menu{
  border-bottom: 1px solid ;
}

@media screen and (max-width:400px) {
  * {
      max-width: 335px;
  }
  article {
      display: grid;
      grid-template: repeat(8, 1fr)/repeat(1, 1fr);
      justify-content: center;
      margin: 0 10% 10% 10%;
  }
  article>:nth-child(1) {
      grid-row: 1;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(2) {
      grid-row: 2;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(3) {
      grid-row: 3;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(4) {
      grid-row: 4;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(5) {
      grid-row: 5;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(6) {
      grid-row: 6;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(7) {
      grid-row: 7;
      grid-column: 1;
      display: grid;
  }
  article>:nth-child(8) {
      grid-row: 8;
      grid-column: 1;
      display: grid;
  }
}



