/* Coolors Exported Palette - coolors.co/002642-385f71-f5f0f6-ff9800-ff5722 */

/* HSL */
$color1: hsla(205%, 100%, 13%, 1);
$color2: hsla(199%, 34%, 33%, 1);
$color3: hsla(290%, 25%, 95%, 1);
$color4: hsla(36%, 100%, 50%, 1);
$color5: hsla(14%, 100%, 57%, 1);

/* RGB */
$color1: rgba(0, 38, 66, 1); //#002642
$color2: rgba(56, 95, 113, 1); //#385F71
$color3: rgba(245, 240, 246, 1); //#F5F0F6
$color4: rgba(255, 152, 0, 1); //#FF9800
$color5: rgba(255, 87, 34, 1); //#FF5722