.ImageButton {
	width:  175px;
	display: flex;
	flex-direction: row;
	border: solid 2px  black;
	border-radius: 50px;
    text-align: justify;
    margin: 20px 15px;
    align-items: center;
   justify-content: flex-start;
    padding-right:15px ;
}

.ImageButton img {
   
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px;
	height: 50px;
	margin-left: 15px;
	margin-right: 10px;
   
   
    padding: auto   ;
}
.ImageButton #titulo {
    
    grid-column: 2/2;
}
.ImageButton #titulo {
    
    grid-column: 2/2;
}