.SmallCard {
	width:  300px;
	display: flex;
	flex-direction: row;
    border: 1px solid gray;
    border-bottom: 0;
    text-align: justify;
    margin: 0;
    align-items: center;
   justify-content: flex-start;
   
    height: 50px;
}

.SmallCard img {
   
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;
    width: 35px;
    height: 35px;
    padding: 3px 15px;
}
.SmallCard #titulo {
    
    grid-column: 2/2;
}
.SmallCard #titulo {
    
    grid-column: 2/2;
}